#comments
    @extend $block
    padding: article-padding
    margin: block-margin 0
    a
        color: color-link
    #vcomments
        .vcard .vcontent img
            @media mq-normal
                max-width: 40%